*{box-sizing:border-box;}
body{margin: 0}

.navbar{
  height:60px;
  width:100%;
  padding: 10px ;
  margin-top: -100px;  /*div-navbar margin*/
  margin-bottom: 10px;
  position: fixed;
  background-color: #333
}

.navbarbtm > a:hover{background-color: black;}
.navbarbtm > a.left:hover{background-color: #383;}

.navbarbtm > a{
  display: inline-block;
  float: right;
  color:white;
  padding:12px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Times New Roman";
  text-decoration:none;
  text-align: center;
}

.navbarbtm > a.left{
  float: left;
  background-color: #494;
}

.pic{
  /*margin-top: 110px;  div-navbar margin*/
  margin:100px 0%;
}

.card > img{
  height: 270px;
  max-width: 75%;
  min-width: 75%;
  margin:12.5% 12.5% 15px; }

.card{
  width: 30%;
  height:455px;
  background:linear-gradient(to top, #222,#a40000 );
  margin: 1.5%;
  display:inline-block;
  text-align: center;
  /*border:3px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to top, #222,#a40000 )*/
}

.card h3,.card p{
  text-transform: capitalize;
  color:white;
}

.card p{display: none;}
.card:hover p{display: block;}

p.div{
  padding:26px;
  margin:auto;
  margin-top: 90px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: gray;
  text-transform:uppercase;
}
.bg1{
  height: 250px;
  padding: 100px;
  background: url(../imgs/241279.jpg) no-repeat top fixed ;
  background-size: 100% 100%;
  box-sizing: content-box;
}

.bg2{
  height: 250px;
  margin: 100px 0;
  padding: 110px;
  box-sizing: content-box;

  background: url(../imgs/thumb-1920-667209.jpg) no-repeat center fixed ;
  background-size: 120% 100%;
}

.bg2 > .ared, .ablue{
  padding:21px;
  margin: 6px;
  color:lightgray;
  font-size: 120%;
  font-weight: 500;
}
.ared{background-color: rgba(200,10,10,.60);direction: rtl;}
.ablue{background-color: rgba(10,10,200,.60);direction: ltr;}
