body{margin: 0}

div.navbar{
  height:55px;
  width:100%;
  padding: 10px ;
  margin-top: -130px;
  margin-bottom: 10px;
  position: fixed;
  background-color: #444
}

div.navbarbtm > a:hover{background-color: black;}
div.navbarbtm > a.left:hover{background-color: #383;}

div.navbarbtm > a{
  display: inline-block;
  float: right;
  color:white;
  padding:17px;
  font-weight: bold;
  font-size: 18px;
  text-decoration:none;
  text-align: center;
}

div.navbarbtm > a.left{
  float: left;
  background-color: #494;
  padding:17px;
}

div.pic{margin-top: 130px;}

div.card > img{
  height: 300px;
  max-width: 50%;
  margin:12.5% 25% 0; }

div.card{
  width: 30%;
  height:500px;
  display:inline;
  text-align: center;
  border:3px solid green;
}

.card h3,.card p{text-transform: capitalize;}
.card p{display: none;}
div.card:hover + p{display: block;}
